* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorFondoMenu: rgb(37, 34, 39);
    --colorFondoContenido: rgb(55, 50, 58);
    --colorFondoHeader: rgb(32, 29, 34); /* Color used: rgb(32, 29, 34)*/
    --colorLetraNormal: rgba(235, 235, 235, 0.952);
}

.contenido::-webkit-scrollbar {
    width: 6px;
}

.contenido::-webkit-scrollbar-thumb {
    background-color: rgba(206, 206, 206, 0.8);
    border-radius: 6px;
    border-right: 1px solid rgb(55, 50, 58);
}

body {
    font-family: 'Roboto', sans-serif;

    /*font-family: 'Open Sans', sans-serif;*/
}

.pagina {
    display: grid;
    width: 100%;
    height: 100vh;
    min-height: 100vh;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "logo header"
                         "menu contenido";

    overflow: hidden;

    transition: grid-template .1s ease-out;
}

.pagina.active {
    grid-template-columns: 50px 1fr;
}

/* LOGO */

.logo {
    grid-area: logo;
    background: var(--colorFondoMenu);

    display: flex;
    align-items: center;
    justify-content: start;

    overflow: hidden;
}

.logo a {
    display: grid;
    align-items: center;
    text-decoration: none;

    grid-template-columns: 50px 1fr 1fr;
    grid-template-areas: "figura nombre-logo1 nombre-logo2";
    color: white;
}

.logo a .logo-img {
    grid-area: figura;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a .logo-img img {
    width: 22px;
}

.logo a .nombre-logo1 {
    grid-area: nombre-logo1;

    display: flex;
    align-items: center;
    justify-content: start;

    font-size: 16px;

    font-weight: 700;
}

.logo a .nombre-logo2 {
    grid-area: nombre-logo2;

    display: flex;
    align-items: center;
    justify-content: start;

    margin-left: 4px;

    font-size: 16px;

    font-weight: 700;
}

/* HEADER */

.header {
    grid-area: header;

    background: var(--colorFondoHeader);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-header {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: 0.1fr 0.5fr 3fr 1fr 0.5fr 0.1fr;
    grid-template-areas: "lado1 bar buscador iconos avatar lado2";
}

/* BAR */

.contenedor-header .bar {
    grid-area: bar;

    display: flex;
    align-items: center;
}

.contenedor-header .bar-derecha {
    display: none;
}

.contenedor-header .bar button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.contenedor-header .bar button:hover {
    background: rgb(57, 57, 63);
}

.contenedor-header .bar .boton-bar {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.contenedor-header .bar i {
    padding: 3px;
}

.logo-celular {
    display: none;
}

/* BUSCADOR */

.contenedor-header .buscador {
    grid-area: buscador;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-header .buscador input {
    width: 75%;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 6px 14px;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.contenedor-header .buscador .lupa {
    color: white;

    margin: 0px 4px;
    width: 40px;
    height: 40px;

    border-radius: 100px;
    
    font-size: 18px;
    cursor: pointer;

    background: none;
    border: none;
}

.contenedor-header .buscador i {
    padding: 3px;
}

.contenedor-header .buscador .lupa:hover {
    background: rgb(57, 57, 63);
}

/* ICONOS */

.contenedor-header .iconos {
    grid-area: iconos;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-header .iconos button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    margin: 0px 4px;

    font-size: 18px;

    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.contenedor-header .iconos i {
    padding: 3px;
}

.contenedor-header .iconos button:hover {
    background: rgb(57, 57, 63);
}

/* OPCIONES CODE-HOUSE*/

.iconos .opciones-code {
    position: sticky;
}

.iconos .opciones-house {
    position: sticky;
}

.iconos nav ul {
    padding: 2px 0px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    z-index: 1000;
    display: none;
    overflow: hidden;
}

.iconos .opciones-code ul {
    position: absolute;
    right: 10px;
    width: 150px;
}

.iconos .opciones-house ul {
    position: absolute;
    right: 10px;
    width: 150px;
}

.iconos .opciones-code:hover ul {
    display: block;
}

.iconos .opciones-house:hover ul {
    display: block;
}

.iconos nav ul li {
    list-style: none;
}

.iconos nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin: 2px 0px;


    display: flex;
    align-items: center;
    justify-content: start;
}

.iconos nav ul li a:hover {
    background-color: rgb(70, 70, 70);
}

/* AVATAR */

.contenedor-header .avatar {
    grid-area: avatar;
    
    display: flex;
    align-items: center;
    justify-content: end;
}

.contenedor-header .avatar button{
    font-size: 22px;


    width: 40px;
    height: 40px;
    border-radius: 100px;

    color: white;
    cursor: pointer;

    background: none;
    border: none;
}

.contenedor-header .avatar i {
    padding: 8px 3px;
}

.contenedor-header .avatar button:hover {
    background: rgb(57, 57, 63);
}


/* MENU */

.menu-lateral {
    grid-area: menu;
    background: var(--colorFondoMenu);

    overflow: hidden;
}

.menu-lateral a {
    display: grid;
    align-items: center;
    justify-content: start;
    color: rgba(255, 255, 255, 0.85);

    grid-template-columns: 50px 1fr;
    grid-template-areas: "icono titulo";

    padding: 13px 0px;
    text-decoration: none;
}

.menu-lateral a .icono {
    grid-area: icono;

    display: flex;
    justify-content: center;
    font-size: 15px;
}

.menu-lateral a .titulo{
    grid-area: titulo;

    display: flex;
    justify-content: start;
    font-size: 16px;
}

.menu-lateral a:hover {
    background: rgb(57, 57, 63);
    color: rgb(255, 255, 255);
}


/* MENU HORIZONTAL DERECHO*/



/* CONTENIDO */

.contenido {
    grid-area: contenido;
    background: var(--colorFondoContenido);

    overflow: auto;

    padding: 20px 30px;
}

.contenido .pagina-aplicaciones,
.contenido .pagina-web,
.contenido .pagina-comentarios {
    display: none;
}

.contenido .pagina-aplicaciones.active,
.contenido .pagina-web.active,
.contenido .pagina-comentarios.active  {
    display: block;
}

.contenido .contenedor-aplicaciones,
.contenido .contenedor-web,
.contenido .contenedor-comentarios {

    display: flex;
    align-items: center;
    text-align: center;

    padding: 30px 0px;

    gap: 30px;
}

.contenido .contenedor-aplicaciones div,
.contenido .contenedor-web div,
.contenido .contenedor-comentarios div {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    
    width: 200px;
    height: 250px;

    box-shadow: rgb(32, 32, 30) 0px 10px 24px;

}

.contenido .titulo {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}















/* MEDIA QUERIS*/

/* 
    EXTRA: 1200Ppx - Ordenadores largos
    GRANDE: 992px - Ordenadores normales
    MEDIANO: 768px - Tablets
    PEQUEÑO: 576px - Ladnscape Phones


*/




@media screen and (max-width: 768px) {

    .contenido {
        background: red;  
    }
    .pagina {
        grid-template-columns: 50px 1fr;
    }
    .pagina.active {
        grid-template-columns: 200px 1fr;
    }

    .logo-celular {
        display: none;
    }
}






@media screen and (max-width: 576px) {


    /* MENU-HORIZONTAL */

    .contenido {
        background: blue;
    }

    .pagina {
        grid-template-columns: 0px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: "logo header"
                             "menu contenido"
    }  

    .pagina.active {
        grid-template-columns: 50px 1fr;
    }





    /* CONTENEDOR HEADER*/

    .contenedor-header {
        width: 100%;
        height: 100%;
    
        display: grid;
        align-items: center;
        justify-content: center;
    
        grid-template-columns: 0.1fr 0.5fr 4fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas: "lado1 bar logo-celular buscador bar-derecha lado2";
    }

    .contenedor-header .bar {
        grid-area: bar;
    }

    .contenedor-header .bar-derecha {
        grid-area: bar-derecha;
        display: block;
    }

    .contenedor-header .bar-derecha button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    
        margin: 0px 4px;
    
        font-size: 18px;
    
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }

    .contenedor-header .iconos {
        display: none;
    }
    
    .contenedor-header .bar-derecha i {
        padding: 3px;
    }
    
    .contenedor-header .bar-derecha button:hover {
        background: rgb(57, 57, 63);
    }


    

    .contenedor-header .logo-celular {
        grid-area: logo-celular;

        display: flex;
        justify-content: start;
    }

    .contenedor-header .buscador input {
        display: none;
    }

    .contenedor-header .avatar {
        display: none;
    }

    .contenedor-header .buscador {
        grid-area: buscador;

        justify-content: end;
    }






    /* LOGO */

    .logo .logo-img img {
        display: none;
    }

    .logo-celular{
        grid-area: logo-celular;

        display: block;
    }

    .logo-celular a {
        display: grid;
        align-items: center;
        text-decoration: none;
    
        max-height: 46px;
    
        grid-template-columns: 30px 1fr 1fr;
        grid-template-areas: "figura nombre-logo1 nombre-logo2";
        color: white;
    }

    .logo-celular a .logo-img {
        grid-area: figura;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo-celular a .logo-img img {
        width: 22px;
    }

    .logo-celular a .nombre-logo1 {
        grid-area: nombre-logo1;
    
        display: flex;
        align-items: center;
        justify-content: start;
    
        font-size: 16px;
    
        font-weight: 700;
    }

    .logo-celular a .nombre-logo2 {
        grid-area: nombre-logo2;
    
        display: flex;
        align-items: center;
        justify-content: start;
    
        margin-left: 4px;
    
        font-size: 16px;
    
        font-weight: 700;
    }

    .menu-lateral a {
        display: grid;
        align-items: center;
        justify-content: start;
        color: rgba(255, 255, 255, 0.85);

        grid-template-columns: 50px 1fr;
        grid-template-areas: "icono titulo";

        padding: 13px 0px;
        text-decoration: none;
    }
}